<mat-dialog-content>
  <form [connect]="['nav', 'signupForm']">
    <p>
      <mat-form-field>
        <input matInput name="username" placeholder="Username" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="email" placeholder="Email" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" matInput placeholder="Password" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="passwordRetype" matInput placeholder="Retype Password" ngModel>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeModal()">Cancel</button>
  <button mat-button (click)="signup()">Login</button>
</mat-dialog-actions>
