<mat-dialog-content>
  <form>
    <p>
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Retype Password">
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeModal()">Cancel</button>
  <button mat-button (click)="signup()">Login</button>
</mat-dialog-actions>
